@import url('https://fonts.cdnfonts.com/css/source-code-pro?styles=14693,14694,14697');
html,
body {
  color: var(--fg);
  background-color: var(--bg);
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  font-size: 34px;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
a {color: var(--fg);text-decoration: none;}
a:hover{color: var(--mid);}
/* a:active{color:var(--acc);} */
#cont{padding: 2em;background-color: var(--bg);}
::highlight() {color: var(--acc);}
@media screen and (max-width: 60rem) {
  #cont {
    display: grid;
    text-align: left;
  }
  #cont a {
    margin: 0.25em;
  }
}

p {
  color: var(--mid);
  font-size: 24px;
  max-width: auto;
}
p #bold {color:var(--fg);}
